* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.navbar {
  margin-bottom: 1rem;
}

.navbar-image {
  width: 50px;
  margin-right: 1rem;
}

.card {
  margin: 0 auto;
}

.list,
.link {
  margin: 1rem auto;
}

.footer {
  background-color: #888888;
  color: #fff;
  padding: 10px 10px 0px 10px;
  width: 100%;
  height: 5rem;
  margin-top: auto;
}

.card img {
  width: 6rem;
  margin-top: 1rem;
}

.air-pressure-image {
  transform: scale(0.75);
}

span {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.nav-link {
  margin-top: 0.5rem;
}

.nav-link.city-name {
  font-size: 1.2rem;
  font-weight: 700;
}
.card-subsection {
  display: flex;
  justify-content: space-evenly;
}

.air-quality {
  margin: 0 auto;
}

.col-md-4 h4 {
  margin-top: 1rem;
}

.active {
  color: greenyellow;
}

.inactive {
  color: yellow;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-value {
  color: cadetblue;
}

.card-value-temp {
  color: cadetblue;
  font-size: 3rem;
}

.card-list-header {
  font-size: 1rem;
}

.card-list-value {
  font-size: 1rem;
  color: cadetblue;
}

.list-group-item {
  display: flex !important;
  justify-content: space-between;
}

.celsius {
  width: 4rem !important;
  margin-top: 0.6rem !important;
}

.card-link {
  text-decoration: none;
  color: cadetblue;
}

.card-link:hover {
  color: #888888;
}

.card-news {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card-news:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

hr {
  width: 50%;
  margin: 1rem auto !important;
}

.container-newsPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.links-cardNews {
  text-decoration: none;
  color: cadetblue;
}

.links-cardNews:hover {
  color: #888888;
}

.weatherNews-title {
  margin: 2rem auto;
}

.news-title {
  width: 58%;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 1px solid #888888;
  padding: 1rem;
  z-index: 1;
}

.spinner-grow {
  position: absolute;

  top: 40%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.leaflet-container {
  width: 70%;
  height: 50vh;
  margin: 2rem auto;
  border-radius: 15px;
  z-index: 1;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control a.leaflet-control-zoom-in {
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control a.leaflet-control-zoom-out {
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.leaflet-control-zoom a span {
  color: cadetblue;
  margin: 0 auto;
}

.leaflet-popup {
  top: -95px;
}

.leaflet-popup-content span {
  font-size: 1rem;
}

.leaflet-popup-close-button {
  margin-right: 0.5rem;
}

.weather_alert-container {
  min-height: 100vh;
}

.severe-weather {
  font-size: 2rem;
  margin: 0;
}

.card-text.card-link {
  color: #ff6961;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 1rem;
}

.card-link.text {
  display: flex;
  flex-direction: column;
}

.alert-link {
  text-decoration: none;
  color: #fff;
}

.alert-link:hover {
  color: whitesmoke;
}

.card-alert {
  margin: 1rem;
}

.alert-descrip {
  text-align: justify;
  margin: 2rem;
  font-size: 1.1rem;
}

.alert-severity {
  margin: 2rem;
}

.alert-header.card-header {
  background-color: cadetblue;
  color: #fff;
}

.card-link.text-alert {
  background-color: cadetblue;
  width: 100px;
  margin: 0 auto;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card-link.text-alert:hover {
  background-color: #fff;
  color: cadetblue;
}

.weather48Hours-container {
  min-height: 100vh;
  width: 80%;
  margin: 5rem auto;
  display: flex;
}

.collapse-text {
  display: flex;
  justify-content: space-evenly;
}

.accordion {
  --bs-accordion-active-bg: #fff !important;
  --bs-accordion-active-color: cadetblue !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
}

.accordion-item {
  border-left: 5px solid #ff6961 !important;
  /* border-top-left-radius: 0 !important; */
}

button.accordion-button {
  justify-content: space-between;
  margin-right: 0 !important;
}

button.accordion-button.collapsed::after {
  margin: 0;
}

.accordion-button::after {
  margin: 0 !important;
}
.weather48Hours-element {
  margin: 0.5rem auto;
}

.weather48Hours-img {
  width: 5rem;
}

.weather48Hours-temp {
  font-size: 2rem;
}

.weather48Hours-realFeelTemp {
  font-weight: 400;
}

.weather48Hours-news {
  margin-top: 20rem !important;
}
span.weather48Hours-precip {
  font-weight: 400;
  text-align: justify !important;
}
@media (max-width: 845px) {
  .weather48Hours-container {
    width: 95%;
  }
}

@media (max-width: 810px) {
  .container-newsPage {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 770px) {
  .weather48Hours-news {
    margin-top: 2rem !important;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 90%;
  }
  .container-newsPage {
    grid-template-columns: 1fr;
  }

  .leaflet-container {
    width: 95%;
  }
}
