.App {
  text-align: center;
}

.navbar {
  margin-bottom: 1rem;
}

.main-container {
  height: 100vh;
}

.card {
  margin: 0 auto;
}

.list,
.link {
  margin: 1rem auto;
}

.map {
  width: 50rem;
  margin: 0 auto;
}
